#!/usr/bin/make -f

configure :=  --with-xtlibdir=/lib/xtables --enable-libipq \
	 --libdir=/lib
install :=

%:
	dh $@

binary binary-arch binary-indep: install
	rm -f debian/files
	dh binary --before dh_gencontrol
	if [ -f "../.VYOS_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol; \
	fi
	dh binary --after dh_gencontrol

ifneq ($(USE_BUILD_DIR),TRUE)

include debian/builddir.mk

else

build: debian/stamp-build
debian/stamp-build:
	dh build --before dh_auto_configure
	autoreconf -i
	dh_auto_configure -- $(configure)
	dh build --after dh_auto_configure --before dh_auto_test
	dh build --after dh_auto_test
	touch $@

install: build debian/stamp-install
debian/stamp-install:
	dh install --before dh_install
	dh_install $(install)

	# BTS 509386
	mv debian/iptables/usr/sbin/iptables-xml debian/iptables/usr/bin

	dh install --after dh_install
	touch $@

endif
